### Import neccessary lib.

In [1]:
import pandas as pd
import numpy as np
import math
from time import sleep

### get stock file

In [2]:
df = pd.read_csv('top_50_stocks_for_buy.csv')
df = df.drop(df.columns[[0,1]], axis=1)
df.head()

  Ticker  Stock Price  5 Years Price Return  Number of shares to buy
0    AMD       116.68             15.946804                     1714
1   NVDA       221.98             12.923691                      900
2   PAYC       533.82              9.468324                      374
3   FTNT       323.69              9.431718                      617
4    NOW       682.33              7.915297                      293


# Buy code

### calculate buying price

In [6]:
percentage = input('Enter the buying percentage: ')
if not percentage.isdigit():
    print('Please enter the numeric value: ')
    percentage = input('Enter the buying percentage: ')

buying_percentage = float(percentage)
lst_buying_price = []
Ticker_list = []

for row in df.index:
    stock_price = df['Stock Price'][row]
    

    percent_price=(buying_percentage*stock_price)/100
    percent_price = float(int(percent_price * 1000))
    percent_price/=1000
#     print(percent_price)

    buying_price = stock_price + percent_price
    buying_price = float(int(buying_price * 1000))
    buying_price/=1000
    lst_buying_price.append(buying_price)
#     print(buying_price)  

    Ticker_list.append(df['Ticker'][row])
print(Ticker_list)

Enter the buying percentage: 3
['AMD', 'NVDA', 'PAYC', 'FTNT', 'NOW', 'MSCI', 'ZBRA', 'PYPL', 'HLT', 'ODFL', 'DXCM', 'ALGN', 'LRCX', 'NFLX', 'CDNS', 'SIVB', 'MSFT', 'IDXX', 'ADBE', 'WST', 'KEYS', 'CPRT', 'INTU', 'AAPL', 'MCHP', 'SNPS', 'KLAC', 'AMAT', 'ANET', 'URI', 'CMG', 'BIO', 'CARR', 'RMD', 'FCX', 'CDW', 'ADSK', 'DE', 'ISRG', 'ZTS', 'TDY', 'AMZN', 'DHR', 'PWR', 'TGT', 'NRG', 'CRM', 'TTWO', 'CTAS', 'MU']

### add buying price column in df

In [7]:
df['Buying Price'] = lst_buying_price
df.head()

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Buying Price
0,AMD,116.68,15.946804,1714,120.180
1,NVDA,221.98,12.923691,900,228.638
2,PAYC,533.82,9.468324,374,549.834
3,FTNT,323.69,9.431718,617,333.400
4,NOW,682.33,7.915297,293,702.799

In [8]:
current_price = [124.18, 228.638, 519.831, 343.4,782.799, 636.406,535.713, 282.333, 153.727,
                 315.201, 587.954, 619.545, 605.836, 672.559, 164.326, 733.71, 327.876, 673.383,
                 657.634, 424.947, 181.712, 154.386, 585.328, 154.695, 78.609, 319.67, 351.126,
                 138.513, 410.65, 371.859, 1953.93, 750.355, 57.535, 266.203, 41.055, 136.285,310.277, 349.674, 
                 341.96,214.94, 460.626, 3621.109, 315.541, 118.336, 258.765, 43.991, 305.714, 177.85, 444.3, 72.326]
df['Current_Price'] = current_price
df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Buying Price,Current_Price
0,AMD,116.68,15.946804,1714,120.180,124.180
1,NVDA,221.98,12.923691,900,228.638,228.638
2,PAYC,533.82,9.468324,374,549.834,519.831
3,FTNT,323.69,9.431718,617,333.400,343.400
4,NOW,682.33,7.915297,293,702.799,782.799
5,MSCI,617.87,7.090271,323,636.406,636.406
6,ZBRA,520.11,6.945073,384,535.713,535.713
7,PYPL,274.11,5.989337,729,282.333,282.333
8,HLT,149.25,5.714567,1340,153.727,153.727
9,ODFL,305.05,5.690628,655,314.201,315.201
10,DXCM,570.83,5.667422,350,587.954,587.954
11,ALGN,601.50,5.660783,332,619.545,619.545
12,LRCX,588.19,5.462923,340,605.835,605.836
13,NFLX,652.97,5.259543,306,672.559,672.559
14,CDNS,159.54,5.169793,1253,164.326,164.326
15,SIVB,712.34,5.112867,280,733.710,733.710
16,MSFT,318.23,4.954786,628,327.776,327.876
17,IDXX,653.77,4.909352,305,673.383,673.383
18,ADBE,638.48,4.785605,313,657.634,657.634
19,WST,412.57,4.763324,484,424.947,424.947
20,KEYS,176.42,4.442291,1133,181.712,181.712
21,CPRT,149.89,4.441741,1334,154.386,154.386
22,INTU,568.28,4.398047,351,585.328,585.328
23,AAPL,150.19,4.333868,1331,154.695,154.695
24,MCHP,76.32,4.321587,2620,78.609,78.609
25,SNPS,310.36,4.209338,644,319.670,319.670
26,KLAC,340.90,4.198496,586,351.126,351.126
27,AMAT,134.48,4.153790,1487,138.513,138.513
28,ANET,398.69,3.994238,501,410.650,410.650
29,URI,361.03,3.774020,553,371.859,371.859
30,CMG,1897.01,3.630179,105,1953.920,1953.930
31,BIO,728.50,3.594576,274,750.355,750.355
32,CARR,55.86,3.499500,3580,57.535,57.535
33,RMD,258.45,3.258671,773,266.203,266.203
34,FCX,39.86,3.250420,5017,41.055,41.055
35,CDW,180.86,3.242762,1105,186.285,136.285
36,ADSK,301.24,3.240333,663,310.277,310.277
37,DE,339.49,3.229969,589,349.674,349.674
38,ISRG,332.00,3.218668,602,341.960,341.960
39,ZTS,208.68,3.190878,958,214.940,214.940
40,TDY,447.21,3.185437,447,460.626,460.626
41,AMZN,3515.64,3.162659,56,3621.109,3621.109
42,DHR,316.06,3.117262,632,325.541,315.541
43,PWR,114.89,3.115144,1740,118.336,118.336
44,TGT,251.23,3.100145,796,258.765,258.765
45,NRG,42.71,3.075788,4682,43.991,43.991
46,CRM,296.81,3.041929,673,305.714,305.714
47,TTWO,172.67,3.035394,1158,177.850,177.850
48,CTAS,431.36,3.023566,463,444.300,444.300
49,MU,70.22,2.991971,2848,72.326,72.326

In [9]:
want_to_buy = list(zip(Ticker_list,lst_buying_price,current_price))
print(want_to_buy)

[('AMD', 120.18, 124.18), ('NVDA', 228.638, 228.638), ('PAYC', 549.834, 519.831), ('FTNT', 333.4, 343.4), ('NOW', 702.799, 782.799), ('MSCI', 636.406, 636.406), ('ZBRA', 535.713, 535.713), ('PYPL', 282.333, 282.333), ('HLT', 153.727, 153.727), ('ODFL', 314.201, 315.201), ('DXCM', 587.954, 587.954), ('ALGN', 619.545, 619.545), ('LRCX', 605.835, 605.836), ('NFLX', 672.559, 672.559), ('CDNS', 164.326, 164.326), ('SIVB', 733.71, 733.71), ('MSFT', 327.776, 327.876), ('IDXX', 673.383, 673.383), ('ADBE', 657.634, 657.634), ('WST', 424.947, 424.947), ('KEYS', 181.712, 181.712), ('CPRT', 154.386, 154.386), ('INTU', 585.328, 585.328), ('AAPL', 154.695, 154.695), ('MCHP', 78.609, 78.609), ('SNPS', 319.67, 319.67), ('KLAC', 351.126, 351.126), ('AMAT', 138.513, 138.513), ('ANET', 410.65, 410.65), ('URI', 371.859, 371.859), ('CMG', 1953.92, 1953.93), ('BIO', 750.355, 750.355), ('CARR', 57.535, 57.535), ('RMD', 266.203, 266.203), ('FCX', 41.055, 41.055), ('CDW', 186.285, 136.285), ('ADSK', 310.277, 310.277), ('DE', 349.674, 349.674), ('ISRG', 341.96, 341.96), ('ZTS', 214.94, 214.94), ('TDY', 460.626, 460.626), ('AMZN', 3621.109, 3621.109), ('DHR', 325.541, 315.541), ('PWR', 118.336, 118.336), ('TGT', 258.765, 258.765), ('NRG', 43.991, 43.991), ('CRM', 305.714, 305.714), ('TTWO', 177.85, 177.85), ('CTAS', 444.3, 444.3), ('MU', 72.326, 72.326)]


### BUY

In [10]:
my_columns = ['Ticker','Stock Price', '5 Years Price Return','Number of shares to buy', 'Current_Price']


brought_df = pd.DataFrame(columns = my_columns)
left_df = pd.DataFrame(columns = my_columns)

# while temp_lst == []:
for Ticker1, buy_price, current in want_to_buy:
    
    if buy_price<current:
        brought_df = brought_df.append(df.loc[df['Ticker'] == Ticker1])
        
    else:
        left_df = left_df.append(df.loc[df['Ticker'] == Ticker1])

In [11]:
# left_df.head()
brought_df.head()
brought_df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price
0,AMD,116.68,15.946804,1714,124.180,120.180
3,FTNT,323.69,9.431718,617,343.400,333.400
4,NOW,682.33,7.915297,293,782.799,702.799
9,ODFL,305.05,5.690628,655,315.201,314.201
12,LRCX,588.19,5.462923,340,605.836,605.835
16,MSFT,318.23,4.954786,628,327.876,327.776
30,CMG,1897.01,3.630179,105,1953.930,1953.920

In [12]:
left_df.head()

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price
1,NVDA,221.98,12.923691,900,228.638,228.638
2,PAYC,533.82,9.468324,374,519.831,549.834
5,MSCI,617.87,7.090271,323,636.406,636.406
6,ZBRA,520.11,6.945073,384,535.713,535.713
7,PYPL,274.11,5.989337,729,282.333,282.333

# Selling code

### calculate selling price

In [13]:
percentage = input('Enter the selling percentage: ')
if not percentage.isdigit():
    print('Please enter the numeric value: ')
    percentage = input('Enter the selling percentage: ')

selling_percentage = float(percentage)
lst_selling_price = []
Ticker_list = []
for row in brought_df.index:
    stock_price = df['Stock Price'][row]
#     print(stock_price)

    percent_price=(selling_percentage*stock_price)/100
    percent_price = float(int(percent_price * 1000))
    percent_price/=1000
#     print(percent_price)

    selling_price = stock_price + percent_price
    selling_price = float(int(selling_price * 1000))
    selling_price/=1000
    lst_selling_price.append(selling_price)
#     print(selling_price)  

#     Ticker_list.append(df['Ticker'][row])
# # print(Ticker_list)

Enter the selling percentage: 10

### add selling price column in df

In [14]:
brought_df['Selling_Price'] = lst_selling_price
brought_df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price,Selling_Price
0,AMD,116.68,15.946804,1714,124.180,120.180,128.348
3,FTNT,323.69,9.431718,617,343.400,333.400,356.058
4,NOW,682.33,7.915297,293,782.799,702.799,750.563
9,ODFL,305.05,5.690628,655,315.201,314.201,335.555
12,LRCX,588.19,5.462923,340,605.836,605.835,647.009
16,MSFT,318.23,4.954786,628,327.876,327.776,350.053
30,CMG,1897.01,3.630179,105,1953.930,1953.920,2086.710

In [15]:
Ticker_list = []
lst_selling_price = []
current_price = []
for row in brought_df.index:
    value = brought_df['Ticker'][row]
    Ticker_list.append(value)
for row in brought_df.index:
    value = brought_df['Selling_Price'][row]
    lst_selling_price.append(value)
for row in brought_df.index:
    value = brought_df['Current_Price'][row]
    current_price.append(value)
# print(Ticker_list,lst_selling_price,current_price)

want_to_sale = list(zip(Ticker_list,lst_selling_price,current_price))
want_to_sale

[('AMD', 128.348, 124.18),
 ('FTNT', 356.058, 343.4),
 ('NOW', 750.563, 782.799),
 ('ODFL', 335.555, 315.201),
 ('LRCX', 647.009, 605.836),
 ('MSFT', 350.053, 327.876),
 ('CMG', 2086.71, 1953.93)]

In [16]:
brought_df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price,Selling_Price
0,AMD,116.68,15.946804,1714,124.180,120.180,128.348
3,FTNT,323.69,9.431718,617,343.400,333.400,356.058
4,NOW,682.33,7.915297,293,782.799,702.799,750.563
9,ODFL,305.05,5.690628,655,315.201,314.201,335.555
12,LRCX,588.19,5.462923,340,605.836,605.835,647.009
16,MSFT,318.23,4.954786,628,327.876,327.776,350.053
30,CMG,1897.01,3.630179,105,1953.930,1953.920,2086.710

### Sale

In [17]:
my_columns = ['Ticker','Stock Price', '5 Years Price Return','Number of shares to buy', 'Current_Price']


sold_df = pd.DataFrame(columns = my_columns)
open_position_df = pd.DataFrame(columns = my_columns)

# while temp_lst == []:
for Ticker1, sale_price, current in want_to_sale:
    
    if sale_price<current:
        sold_df = sold_df.append(df.loc[df['Ticker'] == Ticker1])
        
    else:
        open_position_df = open_position_df.append(df.loc[df['Ticker'] == Ticker1])

In [18]:
sold_df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price
4,NOW,682.33,7.915297,293,782.799,702.799

In [19]:
open_position_df

,Ticker,Stock Price,5 Years Price Return,Number of shares to buy,Current_Price,Buying Price
0,AMD,116.68,15.946804,1714,124.180,120.180
3,FTNT,323.69,9.431718,617,343.400,333.400
9,ODFL,305.05,5.690628,655,315.201,314.201
12,LRCX,588.19,5.462923,340,605.836,605.835
16,MSFT,318.23,4.954786,628,327.876,327.776
30,CMG,1897.01,3.630179,105,1953.930,1953.920